﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using Mobilek.MVC.Constants;
@using Roles = Mobilek.MVC.Constants.Roles
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modern Business - @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("scripts", required: false)


    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/CarGrid.js"></script>
    <script src="~/Scripts/StationGrid.js"></script>
    <link href="~/css/ColorCombo.css" rel="stylesheet" />



</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            @Html.ActionLink("Mobilek", "Index", new {controller = "Home"}, new {@class = "navbar-brand"})
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                @*<li id="about">
                    @Html.ActionLink("About", "Index", "About")
                </li>*@
                <li id="account">

                    @if (Request.IsAuthenticated)
                    {

                        <li>
                            @Ajax.ActionLink("LogOff", "LogOff", "Account", routeValues: null, ajaxOptions: new AjaxOptions {HttpMethod = "POST"})

                        </li>
                        <li>
                            @Html.ActionLink(((ClaimsIdentity) User.Identity).Claims.Single(s => s.Type == ClaimTypes.Role).Value + " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                        </li>
                    }
                    else
                    {

                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>

                    }
                </li>
                @if (Request.IsAuthenticated)
                {
                    string role = "";
                    var claim = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault(s => s.Type == ClaimTypes.Role);
                    if (claim != null)
                    {
                        role = claim.Value;
                    }
                    if (role == Roles.AdminRole)
                    {
                        <li id="worker">
                            @Html.ActionLink("Worker Panel", "Index", "Worker")
                        </li>
                    }

                    else if (role == Roles.UserRole)
                    {
                        <li id="user">
                            @Html.ActionLink("User Panel", "UserProfile", "UserAccount")
                        </li>
                    }

                }
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

@RenderBody()

<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Anna Kosiorek & Mateusz Kwieciński 2016</p>
            </div>
        </div>
    </footer>

</div>
</body>
</html>
