﻿
@model Mobilek.MVC.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Worker panel";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title.
            </h1>

            <table id="stationGrid"></table>
            <div id="pagerStation"></div>
            <br/>


            <table id="carGrid"></table>
            <div id="pager"></div>


        </div>
    </div>
</div>