﻿@model Mobilek.MVC.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Your account";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title.
            </h1>
            <dl class="dl-horizontal">
                <dt>Hasło:</dt>
                <dd>
                    [
                    @Html.ActionLink("Change password", "ChangePassword")
                    ]
                </dd>
            </dl>
            
        </div>
    </div>
</div>