﻿@model Mobilek.MVC.Models.MakeOrderModel

@{
    ViewBag.Title = "MakeOrder";
}
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="nav nav-stacked nav-pills">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Profile", "UserProfile", "UserAccount")
                </li>
                <li>
                    @Html.ActionLink("Order history", "OrderHistory", "UserAccount")
                </li>
                <li class="active">
                    @Html.ActionLink("Make an Order", "MakeOrder", "UserAccount")
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Creating new order
                <small>for you</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">New Order</li>
            </ol>
            @using (Html.BeginForm("MakeOrder", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Your new order</h2>
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">Choose Station</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab2">Choose Dates</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab3">Choose Cars</a>
                        </li>
                    </ul>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })                 
                   <div class="tab-content" id="myTabContent">
                            <div id="tab1" class="tab-pane fade in active">
                                <i class="fa fa-gear pull-left fa-4x"></i>
                                <div class="form-horizontal" >
                                    <h4>Choose the station of the order</h4>

                                    @Html.DropDownListFor(s => s.stationItem, (List<SelectListItem>)ViewBag.Stationss, "--Select--", new { @style = "width:200px", @class = "form-control" })
                                    @Html.ValidationMessageFor(s => s.stationItem, "", new { @class = "text-danger"})
                                </div>

                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <i class="fa fa-gears pull-left fa-4x"></i>
                                <div class="form-horizontal">
                                    <h4>Choose the dates of the order</h4>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.startingDate, new {@class = "control-label col-md-2"})
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.startingDate, new {@class = "form-control datepicker", placeholder = "Enter starting date here..."})
                                            @Html.ValidationMessageFor(model => model.startingDate, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.endingDate, new {@class = "control-label col-md-2"})
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.endingDate, new {@class = "form-control datepicker", placeholder = "Enter ending date here..."})
                                            @Html.ValidationMessageFor(model => model.endingDate, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab-pane fade">
                                <i class="fa fa-gear pull-left fa-4x"></i>
                                <div class="form-horizontal">
                                    <h4>Choose the cars for your order</h4>
                                    @Html.ListBoxFor(s => s.carItems, (List<SelectListItem>)ViewBag.cars, new { @style = "width:400px", @class = "form-control" })
                                    @Html.ValidationMessageFor(s => s.carItems, "", new { @class = "text-danger" })
                                    <br/>
                                    <br/>
                                </div>
                            </div>  
                    
                    
                    </div>
                    <hr />
                    <input type="submit" value="Confirm" class="btn-default"/>


            </div>
    </div>
            }
</div>
</div>
</div>

