﻿@{
    ViewBag.Title = "OrderHistory";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Car grid</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
            <link href="~/Content/grid-0.4.3.min.css" rel="stylesheet" type="text/css">

            <script src="~/Scripts/jquery-2.1.3.min.js" type="text/javascript"></script>
            <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/Scripts/grid-0.4.3.min.js" type="text/javascript"></script>

            <script type="text/javascript">
                var grid;
                //function Add() {
                //    $("#carId").val("");
                //    $("#brand").val("");
                //    $("#model").val("");
                //    $("#colour").val("");
                //    $("#price").modal("show");
                //}
                //function Edit(e) {
                //    $("#playerId").val(e.data.id);
                //    $("#name").val(e.data.record.Name);
                //    $("#placeOfBirth").val(e.data.record.PlaceOfBirth);
                //    $("#dateOfBirth").val(e.data.record.DateOfBirth);
                //    $("#playerModal").modal("show");
                //}
                function Search() {
                    grid.reload({ searchString: $("#search").val() });
                }
                $(document).ready(function () {
                    grid = $("#grid").grid({
                        dataKey: "ID",
                        uiLibrary: "bootstrap",
                        columns: [
                            { field: "Id", width: 50, sortable: true },
                            { field: "startDate", title: "Start Date", sortable: true },
                            { field: "endDate", title: "End Date", sortable: true },
                            { field: "returnStationId", title: "Returning Station", sortable: true },
                            { field: "isFinished", title: "Status", sortable: true }
                            //{ title: "", field: "Edit", width: 34, type: "icon", icon: "glyphicon-pencil", tooltip: "Edit", events: { "click": Edit } },
                            //{ title: "", field: "Delete", width: 34, type: "icon", icon: "glyphicon-remove", tooltip: "Delete", events: { "click": Remove } }
                        ],
                        pager: { enable: true, limit: 5, sizes: [2, 5, 10, 20] }
                    });
                    //$("#btnAddPlayer").on("click", Add);
                    //$("#btnSave").on("click", Save);
                    $("#btnSearch").on("click", Search);
                });
            </script>
        </head>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 sidebar">
                <ul class="nav nav-stacked nav-pills">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Profile", "UserProfile", "UserAccount")
                    </li>
                    <li class="active">
                        @Html.ActionLink("Order history", "OrderHistory", "UserAccount")
                    </li>
                    <li>
                        @Html.ActionLink("Make an Order", "MakeOrder", "UserAccount")
                    </li>
                    <li>
                        @Html.ActionLink("Log out", "Index", "Home")
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-8">
                <h1 class="page-header">
                    Your order history
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")

                    </li>
                    <li class="active">Order history</li>
                </ol>
                <div class="container">
                    <h2>Orders</h2>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" id="search" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button type="button" id="btnSearch" class="btn btn-default">Go!</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <button type="button" id="btnAddPlayer" class="btn btn-default pull-right">Add New Car</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <table id="grid" data-source="@Url.Action("GetOrders")"></table>
                        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Player</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <input type="hidden" id="orderId" />
                                            <div class="form-group">
                                                <label for="startDate">Start Date</label>
                                                <input type="text" class="form-control" id="startDate" placeholder="Enter Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="endDate">End Date</label>
                                                <input type="text" class="form-control" id="endDate" placeholder="Enter Place Of Birth">
                                            </div>
                                            <div class="form-group">
                                                <label for="returnStationId">Return Station</label>
                                                <input type="text" class="form-control" id="returnStationId" placeholder="Enter Date Of Birth">
                                            </div><div class="form-group">
                                                <label for="isFinished">Status</label>
                                                <input type="text" class="form-control" id="isFinished" placeholder="Enter Date Of Birth">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Modal -->
            </div>
        </div>
    </div>

    



