﻿@model IEnumerable<Mobilek.MVC.Models.OrderModel>
@{
    ViewBag.Title = "OrderHistory";
    WebGrid grid = new WebGrid(source: Model, canSort: false);
}
<link rel="stylesheet" href="~/css/orderhistory.css" />
@section Scripts{
    <script type="text/javascript" src="~/Scripts/OrderHistoryGrid.js"></script>
}

<h2>OrderHistory</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="nav nav-stacked nav-pills">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Profile", "UserProfile", "UserAccount")
                </li>
                <li class="active">
                    @Html.ActionLink("Order history", "OrderHistory", "UserAccount")
                </li>
                <li>
                    @Html.ActionLink("Make an Order", "MakeOrder", "UserAccount")
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Your order history
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">Order history</li>
            </ol> 
            <div>
                <h2>Orders</h2>
                <br />
                <div id="main">
                        @grid.GetHtml(
                    htmlAttributes: new { id = "gridT", width = "700px" },
                    columns: grid.Columns(
                            grid.Column("order.Id", "Order ID"),
                            grid.Column(header: "Start Date", format: (item) => string.Format("{0:dd-MM-yyyy}", item.order.startDate)),
                            grid.Column(header: "End Date", format: (item) => string.Format("{0:dd-MM-yyyy}", item.order.endDate)),
                            grid.Column("order.returnStationId", "Station"),
                            grid.Column(header:"Cars",format: (item) =>
                            {
                                WebGrid subGrid = new WebGrid(source: item.cars);
                                return subGrid.GetHtml(
                                    htmlAttributes: new { id = "subT" },
                                    columns: subGrid.Columns(
                                            subGrid.Column("model", "model"),
                                            subGrid.Column("brand", "brand"),
                                            subGrid.Column("price", "price"),
                                            subGrid.Column("colour", "colour")
                                        )
                                    );
                            })
                        )
                    )
                </div>

            </div>
        </div>
    </div>
</div>

