﻿@model Mobilek.MVC.ViewModels.EditProfileViewModel

@{
    ViewBag.Title = "User Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="nav nav-stacked nav-pills">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">
                    <a href="#">Profile</a>
                </li>
                <li>
                    @Html.ActionLink("Order history", "OrderHistory", "UserAccount")
                </li>
                <li>
                    @Html.ActionLink("Make an Order", "MakeOrder", "UserAccount")
                </li>               
            </ul>
        </div>
        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Welcome @Html.LabelFor(m => m.userName)
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">Profile</li>
            </ol>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Your profile</h2>
                    <ul class="tabs nav nav-tabs" id="tabs">
                        <li id="tabstrip1" class="active">
                            <a data-toggle="tab" href="#tab1">View profile</a>
                        </li>
                        <li id="tabstrip2">
                            <a data-toggle="tab" href="#tab2">Edit profile</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div id="tab1" class="tab-pane fade in active">
                            <i class="fa fa-gear pull-left fa-4x"></i>
                            @using (Html.BeginForm())
                            {
                                <div class="form-horizontal">
                                    <h4>You can view your profile</h4>
                                    <hr />
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.userName, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.userName, new { disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.firstName, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.firstName, new { disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.lastName, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.lastName, new { disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.pesel, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.pesel, new { disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.email, new { disabled = "disabled" })
                                        </div>
                                    </div><div class="form-group">
                                        @Html.LabelFor(model => model.phoneNumber, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.phoneNumber, new { disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.creditCardNumber, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.creditCardNumber, new { disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="tab2" class="tab-pane fade">
                            <i class="fa fa-gears pull-left fa-4x"></i>
                            @using (Html.BeginForm("UserProfile", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.HiddenFor(m => m.LastTabIndex)
                                <div class="form-horizontal">
                                    <h4>You can edit your profile</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.userName, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.userName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.firstName, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.firstName)
                                            @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.lastName, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.lastName)
                                            @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.pesel, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.pesel)
                                            @Html.ValidationMessageFor(model => model.pesel, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.email, new { @class = "blackPlease" })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        </div>
                                    </div><div class="form-group">
                                        @Html.LabelFor(model => model.phoneNumber, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.phoneNumber, new { @class = "blackPlease" })
                                            @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.creditCardNumber, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.creditCardNumber)
                                            @Html.ValidationMessageFor(model => model.creditCardNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

<script type="text/javascript">
    $(function () {
        $("input:text").css('color', 'black');
        //$(".blackPlease").css('color', 'black');
        $("#tab2 :input").css('color', 'black');
        $("#tab2 :input :submit").css('color', 'white');
        var isEdited = @Html.Raw(Json.Encode(Model.IsEdited));
        if (isEdited) {
            $("#tabstrip1").removeClass("active");
            $("#tabstrip2").addClass("active");
            $("#tab1").removeClass("in active");
            $("#tab2").addClass("in active");
        }
        $(".tabs").tabs({
            create: function () {
                var index = 0;
                if (Modernizr.localstorage) {
                    if (localStorage.getItem("LastTabIndex") === null) {
                        localStorage.setItem("LastTabIndex", 0);
                    } else {
                        index = localStorage.getItem("LastTabIndex");
                    }
                } else {
                    index = $('#LastTabIndex').val();
                }

                $(".tabs").tabs("option", "active", index);
            },

            activate: function () {
                var sel = $('.tabs').tabs('option', 'active');
                $("#LastTabIndex").val(sel);

                if (Modernizr.localstorage) {
                    localStorage.setItem("LastTabIndex", sel);
                }
            }
        });




    });
</script>